.logincenter{
    margin-top: 200px;
    margin-left: 500px;
    
}

body{
    background-image: url("https://images.pexels.com/photos/697259/pexels-photo-697259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
}