.logincenter{
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 400px;
    
}

body{
    background-image: url("https://images.pexels.com/photos/697259/pexels-photo-697259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
}

.mylabel {
    color: white;
    padding: 8px;
  }
  
  .success {background-color: #04AA6D;} /* Green */
  .info {background-color: #2196F3;} /* Blue */
  .warning {background-color: #ff9800;} /* Orange */
  .danger {background-color: #f44336;} /* Red */
  .other {background-color: #e7e7e7; color: black;} /* Gray */
  